@model List<ASPBookClub.Models.Review>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">

    <tr>
        <th>Top 10 recommended books</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
                @Html.DisplayFor(modelItem => item.Rating)
            </td>

            <td>
                | @Html.ActionLink("Details", "BookDetail", new { id = item.BookId }) |
                @*                  

                     @Html.ActionLink("Edit", "Edit", new { id = item.CustId }) |
                     @Html.ActionLink("Delete", "Delete", new { id = item.CustId }) |
                     @Html.ActionLink("Create Purchase", "Create", "Purchase", new { id = item.CustId }, null) |
                     @Html.ActionLink("Your Purchase", "Index", "Purchase", new { id = item.CustId }, null)
                *@
            </td>
        </tr>
    }
</table>

