@model ASPBookClub.Models.Review

@{
    ViewBag.Title = "CreateReview";
}

<h2>CreateReview</h2>


<h3> Write a review for @Html.DisplayFor(model => model.Book.Title)</h3>

@using (Html.BeginForm("CreateReview", "Home", new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>thank you @Html.DisplayFor(model => model.UserName)</h4>

        
        <hr />
        @Html.Hidden("BookId", Model.BookId)
        @Html.Hidden("UserName", Model.UserName)


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>
            
        
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
