@model ASPBookClub.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <h5> @Html.ActionLink("Back to the recommendation", "Index") </h5>
    <h5> @Html.ActionLink("See all the books", "SeeAllBooks") </h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title): 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>
        
        @if (User.Identity.Name != "")
        {
            <dt>
                Average review: 
            </dt>
            <dd>
                @ViewBag.averageRat
            </dd>
        }
        

        @foreach (var item in Model.Authors)
        {
            <dt>                
                Author name:
            </dt>
            <dd>
                @if (User.Identity.Name == "")
                {
                    @:@item.LastName, @item.FirstName
                }
                else
                {
                    @Html.ActionLink( item.LastName + ", " + item.FirstName,
                        "DetailsAuthor", new { id = item.AuthorId })
                }
            </dd>      
        }

    </dl>

        @if (User.Identity.Name != "")
        {
            @Html.ActionLink("Leave your review!",
                        "CreateReview", new { id = Model.BookId })

            <table class="table">

                <tr>
                    
                <th> Reviews made by users: </th>

                </tr>

                @foreach (var item in Model.Reviews)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName) has rated
                            @Html.DisplayFor(modelItem => item.Rating)/5
                            
                            @if (item.Content != null)
                            {
                                @:and says: @Html.DisplayFor(modelItem => item.Content) 
                            }
                        </td>

                    </tr>
                }
            </table>
        }



</div>
