@model List<ASPBookClub.Models.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.Identity.Name == "")
{
    <h4> @Html.ActionLink("Sign in", "Login", "User", new { returnUrl = "/Home/Index" }, null) | @Html.ActionLink("Sign up", "Register", "User", null, null)</h4>
}
else
{
    <h4>
         @Html.ActionLink("Sign out", "LogOff", "User", null, null) |
         @Html.ActionLink("Add a new Book", "CreateBook") |
         @Html.ActionLink("Add a new Author", "CreateAuthor")
    </h4>
}

<table class="table">

    
    <tr>
        @if (User.Identity.Name == "")
        {
            <th> Top 10 most viewed books</th>
        }
        else
        {
            <th> Top 10 recommended books</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Title) 

                @if (User.Identity.Name == "")
                {
                    @:has
                    @:@Html.DisplayFor(modelItem => item.Views) views
                }
            </td>

            <td>
                | @Html.ActionLink("Details", "DetailsBook", new { id = item.BookId }) |
                </td>
        </tr>
        }
</table>